// Colors for header, footer and box
$primary-color: rgba(173, 226, 255, 0.33);

// Colors for the nav bar
$title-Blue: #0097BD;
$line-orange: #D76700;

// Other common text colors
$text-color: #000000; // Black text
$white-color: #ffffff; // White text

