.footer {
    background-color: $primary-color;
    padding: 1rem 0.5rem;
    margin-top: 2rem;
  
  .footer-link {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
  }

 
}
  

  

